 /* .header{
   text-align: center;
   padding: 10px 100px;
   background: #ddd;
 } */
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
nav{
  margin-top: 10px;
  
}
.nav-text h1{
  text-align: center;
  font-size: 30px;
  background-color:#40407a;
  color: #fafafa;
  padding: 15px 0;
  border-radius: 5px;
}
body{
  background: #ddd;
}
.info-heading{
  padding: 10px 0;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px 0;


}
.info-heading h3{
  font-size: 18px;
 text-align: center;
}
.death-color{
  color: red;
}

.all-details{
  display: flex;
  padding: 10px 20px;
  margin: 30px 0;
   
   
}
.new-affected{
  text-align: center;
  width: 20%;
  border: 1px solid #fafafa;
  padding: 10px 10px;
  color:  #227093;
  background: #fafafa;
  
}
.TotalRecovered{
  width: 20%;
  border: 1px solid #fafafa;
  padding: 10px 10px;
  color: green;
  background: #fafafa;
  text-align: center;
}
.NewRecovered{
  width: 20%;
  border: 1px solid #fafafa;
  padding: 10px 10px;
  color: orange;
  text-align: center;
  background: #fafafa;
}
.NewDeaths{
  width: 20%;
  border: 1px solid #fafafa;
  padding: 10px 10px;
  
  text-align: center;
  background: #fafafa;
  color: #ff5252;
  font-weight: bold;
}
.Total-affected{
  width: 20%;
  border: 1px solid #fafafa;
  padding: 10px 10px;
  color: #40407a;
  text-align: center;
  background: #fafafa;
}